@import url("../vendor/normalize.css");
@import url("../fonts/fonts.css");
@import url("../blocks/root/root.css");
@import url("../blocks/page/page.css");
/* БЛОК HEADER */
@import url("../blocks/header/header.css");
@import url("../blocks/header/__logo/header__logo.css");
@import url("../blocks/header/__line/header__line.css");
/* БЛОК PROFILE */
.profile {
  padding-top: 40px;
  color: #fff;
  display: flex;
  align-items: center ;
  justify-content: space-between;
}
@media screen and (max-width: 700px) {
  .profile{
    flex-direction: column;
  }
}


.profile__profile {
  display: flex;
}
@media screen and (max-width: 700px) {
  .profile__profile {
    flex-direction: column;
    align-items: center;
  }
}

.profile__profile-info {
  margin-left: 30px;
  max-width: 336px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}


.profile__avatar {
  max-width: 120px;
  object-fit: contain;
  border-radius: 50%;
}

.profile__title {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;

}

.profile__text {
  margin: 0;
  margin-top: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.profile__edit-button {
  width: 24px;
  height: 24px;
  background: url("../images/Edit_Button.svg") center / cover no-repeat;
  border: none;
  margin-left: 18px;

}

.profile__edit-button:hover {
  opacity: .6;
}

.profile__add-button {
  padding: 0;
  width: 150px;
  height: 50px;
  background-color: #000;
  border: none;
  outline: 1px solid #fff;
  background: url("../images/Vector.svg") center / 22px 22px no-repeat;
}

.profile__add-button:hover {
  opacity: .6;
}